
.my-chip {
  width: 120px;
  justify-content: center;
}

.text-field-expanded {
  transition: width 0.3s ease-in-out;
  width: 140px; /* ขนาดขยาย */
}

.text-field-collapsed {
  transition: width 0.3s ease-in-out;
  width: 10px; /* ขนาดปกติ */
}